@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* Landing Page, Modal Register and Login */

.register-text {
    text-decoration: none !important;
    font-size: 14px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    letter-spacing: 0.03rem;
}

button:focus {
    outline: none !important;
}

.navbar {
    padding: 5 px 45px !important;
    margin: 0 80px !important;
    position: fixed;
}

@media only screen and (max-width: 575px) {
    .navbar {
        padding: 5 px 45px !important;
        margin: 0 !important;
    }
    .modal {
        padding: 0 !important;
    }
}

.btn-get-started {
    background-color: #03a87c !important;
    padding: 7px 35px !important;
    margin-left: 10px;
    font-size: 14px !important;
    border: none !important;
    border-radius: 3px !important;
    cursor: pointer !important;
    border-color: rgb(3, 168, 124) !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    letter-spacing: 0.03rem;
}

.btn-get-started:hover {
    border: none !important;
    border-color: rgb(3, 168, 124) !important;
}

.navbar-menu {
    font-size: 16px !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    font-weight: 500px;
    letter-spacing: 0.03rem;
    color: black !important;
}

.btn-black {
    background-color: rgba(0, 0, 0, 0.9) !important;
    padding: 8px 16px !important;
}

.text-btn-black {
    color: rgba(255, 255, 255, 1) !important;
    text-decoration: none !important;
    font-size: 14px !important;
}

.text-link {
    color: #029e74 !important;
    /* font-weight: bold; */
    text-decoration: none !important;
}

.modal-header {
    border-bottom: none !important;
}

h4 {
    font-size: 28px !important;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 500px !important;
}

input {
    border: none !important;
    border-bottom: 1px solid black !important;
    border-radius: 0 !important;
}

.modal-content {
    border-radius: 3px !important;
    border: white !important;
    box-shadow: black;
}


/* Navigation */

.popover.popover-user {
    overflow: auto !important;
    height: 489px !important;
    width: 260px !important;
    position: fixed !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    background: #fff;
    line-height: 1.4;
}

.popover-top-user.popover-body {
    padding: 25px 25px 10px !important;
    display: flex;
}

.popover-avatar {
    width: 50px !important;
    height: 50px !important;
    border-radius: 100%;
    object-fit: cover;
}

.popover-username {
    padding: 0 0 0 15px !important;
    font-size: 16px !important;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    text-align: left;
    width: 100%;
    line-height: 1.4;
    white-space: nowrap;
}

p.name {
    color: rgba(0, 0, 0, 0.8) !important;
    cursor: pointer;
    font-size: 16px !important;
    font-weight: 500;
}

p.name:hover {
    color: rgba(0, 0, 0, 0.54) !important;
}

p.email {
    color: rgba(0, 0, 0, 0.5) !important;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 3px;
}

p.email:hover {
    text-decoration: underline;
}

.hr-popover {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.become-a-member.popover-body-user {
    color: rgba(28, 153, 99, 1) !important;
    text-align: left;
    width: 100%;
    line-height: 1.4;
    white-space: nowrap;
}

.popover-body-user.popover-body {
    padding: 7px 25px !important;
}

.link-to-new-story:hover {
    text-decoration: none !important;
}

.link-to {
    color: rgba(0, 0, 0, 0.84);
}

.link-to:hover {
    color: rgba(0, 0, 0, 0.84);
    text-decoration: none;
}

.btn-upgrade {
    font-size: 13px !important;
    border: 1px solid rgba(0, 0, 0, 0.55) !important;
    color: rgba(0, 0, 0, 0.84) !important;
    background-color: white !important;
    padding: 5px 14px !important;
    border-radius: 4px !important;
    transition: 0.1s !important;
    margin: 0 10px !important;
}

.btn-upgrade:hover {
    border: 1px solid rgba(0, 0, 0, 0.8) !important;
}

.navbar-menu {
    padding: 0 10px !important;
}

.navbar-menu-icon {
    color: rgba(0, 0, 0, 0.54) !important;
}

.navbar-menu-icon:hover {
    color: 1px solid rgba(0, 0, 0, 0.8) !important;
}

.navbar-menu-user {
    width: 32px !important;
    height: 32px !important;
    border-radius: 100% !important;
    object-fit: cover;
}

.main-navbar {
    margin: 0 140px !important;
}

@media only screen and (max-width: 575px) {
    .main-navbar {
        padding: 5 px 45px !important;
        margin: 0 !important;
    }
    .modal {
        padding: 0 !important;
    }
}

.navbar-menu-carousel {
    --x-height-multiplier: 0.342 !important;
    --baseline-multiplier: 0.22 !important;
    color: rgba(0, 0, 0, 0.54) !important;
    font-size: 15px !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    text-transform: uppercase !important;
    letter-spacing: 0.05em !important;
}

.navbar-menu-carousel:hover {
    color: rgba(0, 0, 0, 0.84) !important;
}

.navbar-main-menu {
    padding: 0 10px !important;
}


/* STORIES */

.stories-list-section {
    padding: 0 100px;
    margin-top: 30px;
}

.card-stories {
    padding: 0 0 20px;
    display: flex;
    justify-content: space-between;
}

.btn-card-stories {
    padding: 8px 16px !important;
    font-size: 13px !important;
    border: 1px solid rgba(0, 0, 0, 0.55) !important;
    color: rgba(0, 0, 0, 0.84) !important;
    background-color: white !important;
    border-radius: 4px !important;
    transition: 0.1s !important;
    margin: 0 5px !important;
}

.btn-card-stories:hover {
    border: 1px solid rgba(0, 0, 0, 0.8) !important;
}

.btn-card-stories.active {
    border: 1px solid rgba(2, 158, 116, 1) !important;
    color: rgba(2, 158, 116, 1) !important;
    transition: 0.1s !important;
}

.btn-card-stories.active:hover {
    border: 1px solid rgba(3, 168, 124, 2) !important;
    color: rgba(3, 168, 124, 2) !important;
}

@media only screen and (max-width: 575px) {
    .stories-list-section {
        padding: 8px 16px;
        margin-top: 30px;
    }
}

.header-stories-menu {
    background-color: transparent !important;
    padding-left: 0 !important;
}

.card {
    border: none !important;
}

.nav-link.active.link-stories {
    border: none !important;
    color: rgba(0, 0, 0, 0.84) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.74) !important;
}

.nav-link.link-stories {
    color: rgba(0, 0, 0, 0.54) !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-weight: 300 !important;
    letter-spacing: 0.02rem;
    font-size: 14px;
}

.nav-link.link-stories {
    border-style: none !important;
}

.card-body-stories {
    padding-left: 0 !important;
}

h2.title-your-stories {
    font-size: 38px;
    letter-spacing: -1.25px;
    font-weight: 600;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

.title-stories {
    color: rgba(0, 0, 0, 0.84);
    letter-spacing: -0.47px;
    font-size: 23px !important;
    line-height: 28px;
    font-weight: 600 !important;
    margin-bottom: 4px !important;
}

.sliced-text-stories {
    color: rgba(0, 0, 0, 0.54);
    font-size: 15.3px;
    margin-bottom: 8px;
    margin-top: 4px;
    letter-spacing: 0.03px;
}

.pubdate-stories {
    color: rgba(0, 0, 0, 0.54) !important;
    fill: rgba(0, 0, 0, 0.54) !important;
    letter-spacing: 0px;
    font-size: 13.8px;
    line-height: 20px;
}


/* New Story */

.draft-header {
    margin-left: 10px;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.84) !important;
}

.btn-publish {
    background-color: #03a87c !important;
    padding: 0 10px !important;
    font-size: 15px !important;
    font-family: "Roboto Condensed", sans-serif !important;
    border-color: #03a87c !important;
    color: #fff !important;
    margin: 0 15px !important;
}

main {
    margin: 0 305.5px !important;
}

.post-article-content {
    max-width: 740px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.form-group {
    justify-content: center !important;
    align-items: center !important;
}

.post-article-title {
    border-bottom: none !important;
}

.form-control:focus {
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control-lg {
    font-size: 45px !important;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    color: rgba(0, 0, 0, 0.84) !important;
}

.form-control-lg::placeholder {
    color: #b3b3b1 !important;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 45px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0;
}

.post-article-text.form-control {
    font-size: 21px !important;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    color: rgba(0, 0, 0, 0.84) !important;
}

.form-control::placeholder {
    color: #b3b3b1 !important;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -0.003em;
}

form {
    outline: none !important;
}

.post-article-text {
    border: none !important;
    resize: none !important;
    /* overflow: hidden !important; */
}

.add-icon {
    transform: rotate(0deg);
    transition: transform 1s linear;
    margin-right: 9px !important;
}

.add-icon.open {
    transform: rotate(180deg);
    transition: transform 1s linear;
}

.icon-new-story {
    margin-right: 9px !important;
}

input#img {
    border-bottom: none !important;
}

input#file-upload-button {
    color: #03a87c !important;
}


/* Story Detail */

.main-story-det {
    justify-content: center;
    display: flex;
    font-weight: 400;
    margin-bottom: 80px !important;
}

.story-det-body {
    margin: 0 64px;
    width: 100%;
    max-width: 680px;
    display: block;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.story-det-title {
    margin-top: 0.78em;
    margin-bottom: -0.27em;
    font-size: 40px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    color: rgba(0, 0, 0, 0.84);
    font-weight: 400;
}

.story-det-info {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 575px) {
    .story-det-info {
        display: block;
    }
    .story-det-info-right {
        margin-left: 0 !important;
        margin-top: 20px !important;
    }
    #paragraph-in-article {
        font-size: 19px !important;
    }
    .figure-caption {
        font-size: 14px !important;
    }
}

.story-det-info-left {
    align-items: center;
    display: flex;
}

.user-info-in-story {
    margin-left: 12px;
    display: block;
}

.author-in-story-det {
    font-size: 15.8px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.84);
}

.date-in-story-det {
    font-size: 15.8px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.54);
}

.story-det-info-right {
    margin-left: 30px;
    align-items: flex-end;
    display: flex;
}

.icon-story-det {
    padding-right: 12px;
}

.main-article-figure {
    margin-top: 56px;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.figure-caption {
    text-align: center;
    font-size: 16px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    max-width: 728px;
    color: rgba(0, 0, 0, 0.54);
    display: block;
}

#paragraph-in-article {
    line-height: 32px;
    margin-top: 2em;
    font-size: 21px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    word-break: break-word;
    color: rgba(0, 0, 0, 0.84);
    font-weight: 400;
    margin-bottom: -0.46em;
    letter-spacing: -0.003em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.img-article {
    z-index: auto;
    position: relative;
    cursor: zoom-in;
    width: 100% !important;
    display: block;
    max-width: 929px !important;
    transition: transform 0.3s ease;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~label>img {
    transform: scale(1.5);
    cursor: zoom-out;
}

.tooltip-v {
    cursor: pointer;
}

.popover {
    border-width: 1px !important;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) !important;
    margin-bottom: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px !important;
    border-radius: 4px !important;
    align-items: stretch !important;
}

.popover-body {
    color: rgba(0, 0, 0, 0.54) !important;
    font-size: 14px;
    padding: 8px 20px !important;
}

.popover-body:hover {
    color: rgba(0, 0, 0, 0.84) !important;
    cursor: pointer;
}


/* Article Card Last Update */

.img-last-update {
    width: 100% !important;
    height: 100% !important;
    max-width: 160px !important;
    max-height: 200px !important;
    object-fit: cover !important;
}


/* Top Article Card */

.img-top-article {
    height: 150px !important;
    width: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: cover;
}


/* Random Article Card */

.img-random-article {
    height: 100px !important;
    width: 100px !important;
    object-fit: cover !important;
}

.card-img {
    border-radius: 0 !important;
}


/* Right-Positioned Article */

.img-right-article {
    height: 150px;
    width: 100%;
    object-fit: cover !important;
}


/* Big Title in Home */

.big-title-home {
    color: rgba(0, 0, 0, 0.84);
    font-weight: bold !important;
    font-size: 23px !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    font-style: normal !important;
    line-height: 28px !important;
    letter-spacing: -0.42px !important;
    transform: translateY(-0.72px);
    margin-bottom: 4px !important;
}

.big-title-home:hover {
    text-decoration: none !important;
}


/* Medium Title in Home */

.medium-title-home {
    max-height: 48px !important;
    overflow: hidden !important;
    color: rgba(0, 0, 0, 0.84);
    font-weight: 600 !important;
    font-size: 21px !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    letter-spacing: -0.4px !important;
    transform: translateY(-1.88px);
    margin-bottom: 4px !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
}

.medium-title-home:hover {
    text-decoration: none !important;
}


/* Little Title in Home */

.little-title-home {
    color: rgba(0, 0, 0, 0.84);
    font-weight: 600 !important;
    font-size: 18px !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    letter-spacing: -0.17px !important;
    line-height: 20px !important;
    transform: translateY(0.96px);
}

.little-title-home:hover {
    text-decoration: none !important;
}


/* Popular on Medium */

.sticky-sidebar {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
}

.popular-on-medium {
    color: rgba(0, 0, 0, 0.84);
    font-weight: 600;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    font-style: normal !important;
    font-size: 22px !important;
    line-height: 28px !important;
    transform: translateY(-0.72px);
    letter-spacing: -0.42px !important;
}

.popular-on-medium:hover {
    text-decoration: none !important;
}

.index-popular {
    font-size: 30px !important;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.15) !important;
    text-align: center !important;
    font-weight: 400 !important;
    line-height: 1.2;
}


/* Title References */

.title-references {
    color: rgba(0, 0, 0, 0.54) !important;
    font-weight: 400 !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    font-size: 15px !important;
    letter-spacing: 0 !important;
    line-height: 20px !important;
    transform: translateY(1.8px);
    text-transform: uppercase;
}


/* Sub-title */

.sub-title-article {
    color: rgba(0, 0, 0, 0.54) !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    letter-spacing: 0 !important;
    line-height: 20px !important;
    transform: translateY(1.52px);
    margin-top: 2px !important;
}


/* Article's Author in Home */

.author-in-home {
    color: rgba(0, 0, 0, 0.84);
    font-size: 14px !important;
    margin-bottom: 0 !important;
}


/* See Editor's Picks */

.see-editors-picks {
    display: inline-block !important;
    color: #03a87c !important;
    font-size: 14px !important;
    line-height: 20px !important;
    transform: translateY(1.8px);
    letter-spacing: 0 !important;
    text-transform: uppercase;
}


/* Not Found */

.contain-404 {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 60px !important;
    display: block;
}

.row-not-found {
    margin-right: -20px;
    margin-left: -20px;
    line-height: 1 !important;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.err-404 {
    font-size: 190px !important;
    width: 41.66666667% !important;
    color: rgba(0, 0, 0, 0.84);
    font-weight: 500;
    text-align: end !important;
}

.not-found {
    color: rgba(0, 0, 0, 0.3) !important;
    font-size: 77px !important;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 70px !important;
    font-weight: 500;
}

@media (min-width: 576px) {
    .not-found {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
}


/* Sticky Footer */

.container-sticky-footer {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 740px !important;
    margin-top: 30px !important;
}

.sticky-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
    padding-bottom: 25px !important;
    padding-top: 10px !important;
    flex-wrap: wrap;
    word-break: break-word;
    word-wrap: break-word;
    font-size: 13.6px !important;
}

.sticky-footer-text {
    color: rgba(0, 0, 0, 0.54) !important;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-right: 16px !important;
    flex: 0 0 auto;
    -webkit-box-flex: 0;
    word-break: break-word;
}